.landingsection {
    padding: 20px;
}
.right-background {
    width: 435px;
    width: 600px;
    height: 610px;
    /* margin-right: -40px; */
}
@media screen and (max-width: 1300px){
    .right-background {
        width: 500px;
        height: auto;
        /* margin-right: -40px; */
    }
}
@media screen and (max-width: 1100px){
    .right-background {
        width: 450px;
        height: auto;
    }
}
@media screen and (max-width: 991px){
    .right-background {
        width: 100%;
        height: auto;
        padding: 20px;
    }
}
.form-cover {
    text-align: left;
    padding: 20px;
}

.form-headings {
    color: #42A7C3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding-top: 5px;
}

.main-form {
    padding: 30px 120px;
}
@media screen and (max-width: 1200px){  
    .main-form {
        padding: 30px 50px;
    }
}
.form-name {
    color: #515151;
    font-size: 20px;
    font-weight: bold;
    display: inline;
    margin-bottom: 40px;
}

.name-span {
    color: #0098EA;
    font-size: 15px;
    float: right;
}
.form-inputs {
    background-color:#FFFFFF;
    border: 1px solid #D0D0D0;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.form-inputs::placeholder {
    color:#8A8A8A;
    font-size: 13px;
}

.submit-button {
    outline: none;
    border: none;
    background-color: #D0D0D0;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    font-size: 15px;
}

.forgot-password {
    font-size: 13px;
    color:#515151;
    padding: 20px 0;
}
.signup-cover {
    text-align: center;
}
.signup-text {
    color:#D0D0D0;
    padding: 20px 0;
}

.socials {
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    border:1px solid#D0D0D0;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
    color:#515151;
}
.socials:hover {
    color:#515151;
    text-decoration: none;   
}

.copyright-sign {
    color:#515151;
    font-size: 14px;
    padding-top: 10px;
}


@media screen and (max-width: 991px){
    .form-cover {
        text-align: left;
        padding: 50px 20px;
    }
    .form-headings {
        font-size: 35px;
        font-weight: 700;
        padding-top: 5px;
        text-align: center;
    }
    .main-form {
        padding: 20px;
        text-align: center;
    }
    .form-name {
        font-size: 22px;
        margin-bottom: 20px;
        float: left;
    }


    .name-span {
        color: #0098EA;
        font-size: 15px;
        float: right;
    }
    .form-inputs {
        padding: 16px 20px;
        margin: 10px 0;
    }
    .form-inputs::placeholder {
        font-size: 14px;
    }
    
    .submit-button {
        padding: 16px 20px;
        width: 100%;
        font-size: 15px;
    }
    
    .forgot-password {
        font-size: 13px;
        color:#515151;
        padding: 20px 0;
    }
    .signup-cover {
        text-align: center;
    }
    .signup-text {
        color:#D0D0D0;
        padding: 20px 0;
        font-size: 15px;
    }
    
    .socials {
        padding: 18px 20px;
        font-size: 15px;
        margin: 10px 0;
    }
    
    .copyright-sign {
        font-size: 15px;
        text-align: center;
        padding-top: 150px;
    }

    .hidden {
        display: none;
    }
}